@model FitnessApp1.Models.AntrenorKullaniciViewModel
    <style>

        .sidebar {
            width: 700px; /* Yan menünün genişliği */
            background-color: yellowgreen; /* Yan menü arka plan rengi */
            height: 100%; /* Sayfa boyunca uzunluk */
            position: fixed; /* Sabit konum */
            top: 0; /* Üstten başlama pozisyonu */
            left: 0; /* Soldan başlama pozisyonu */
            overflow-x: hidden; /* Yatay scrollbar'ı gizle */
            padding-top: 20px;
            flex-direction: column;
            display: block;
            text-align: center;
        }
        .sidebar label
        {
            color:black;
        }
            .sidebar p {
                background-color: white; /* Beyaz arka plan */
                padding: 2px; /* İstediğiniz boşluğu verebilirsiniz */
               
            }

            .sidebar a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: #000;
                display: block;
            }

                .sidebar a:hover {
                    background-color: yellow; 
                }


        h1 {
            color: rosybrown; /* Başlık rengi */
            font-family: 'Times New Roman', Times, serif, sans-serif; 
            margin-top: 200px;
            margin-left: 40px;
        }

        .button-background {
            margin-top: 70px;
            width: 350px;
            height: 500px;
            background-image: url('https://i.pinimg.com/564x/2b/e6/31/2be631e3afc5ba303f6315ba8d4c41f3.jpg');
            background-size: cover;
            background-position: top;
            /* Yuvarlak bir arka plan oluşturmak için */
            flex-shrink: 0; /* Boyutun küçülmemesini sağla */
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: rosybrown;
        }

        h2 {
            color: yellowgreen; /* Başlık rengi */
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-left: 100px;
            margin-top: 50px;
            font-size: 30px;
        }

        input[type="submit"] {
            width: 200px; /* Genişlik */
            height: 40px; /* Yükseklik */
            background-color: yellowgreen; /* Arka plan rengi */
            color: black; /* Yazı rengi */
            border: none; /* Kenarlık olmadan */
            border-radius: 5px; /* Kenar yuvarlama */
            cursor: pointer; /* Fare üzerine gelince işaretçi tipi */
            margin-top: 10px; /* Butonlar arası boşluk */
            font-size: 16px; /* Yazı boyutu */
        }


            /* İlgili butonun üzerine gelindiğinde stilini değiştirme */
            input[type="submit"]:hover {
                background-color: yellow; /* Hover rengi */
            }

        button {
            color: yellowgreen;
            background-color: black;
        }

        table {
           margin-top: 120px;
           margin-left:720px;
           color:yellowgreen;
        }

        th, td {
            padding-top:100px;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            color: black;
        }

        th {
            background-color: yellowgreen;
        }

        tr:nth-child(even) {
            background-color: lightyellow;
        }

        body {
            background-image: url('https://i.pinimg.com/564x/cf/8b/8b/cf8b8bd73856fc7df8374a5a650c7bb5.jpg'); /* Arkaplan resminin URL'sini buraya ekleyin */
            background-size: center; /* Resmi ekran boyutuna uyacak şekilde ölçeklendir */
            background-position: right; /* Resmi ortala */
        }
    </style>
    <div class="sidebar">
        
        @foreach (var kullanici in Model.KullaniciListesi)
        {
            <div style="margin-top:120px">
                <img src="@kullanici.picture" width="120" height="120">
                <p><label>Kullanıcı Adı:</label> @kullanici.kullanici_ad</p>
                <p><label>Kullanıcı Soyadı:</label> @kullanici.kullanici_soyad</p>
                <p><label>Kullanıcı Doğum Tarihi:</label> @kullanici.dogum_tarih.ToString("yyyy-MM-dd")</p>
                <p><label>Kullanıcı E-posta  &#128231;:</label> @kullanici.e_posta</p>
                <p><label>Kullanıcı Telefon &#9742;:</label> @kullanici.telefon</p>
                <p><label>Kullanıcı Antrenör ID:</label> @kullanici.antrenor_id</p>

            </div>

        }

    </div>

    <table>
        @foreach (var kullanici in Model.KullaniciListesi)
        {
            <tr>
                
                <td>
                    <form asp-controller="KullaniciAnaPanel" asp-action="UpdateKullanici" method="post">
                        <input type="hidden" name="id" value="@kullanici.kullanici_id" />

                        <label for="ad_@kullanici.kullanici_id">Ad:</label>
                        <input type="text" name="ad" id="ad_@kullanici.kullanici_id" value="@kullanici.kullanici_ad" /><br />

                        <label for="soyad_@kullanici.kullanici_id">Soyad:</label>
                        <input type="text" name="soyad" id="soyad_@kullanici.kullanici_id" value="@kullanici.kullanici_soyad" /><br />

                        <label for="dogumTarih_@kullanici.kullanici_id">Doğum Tarihi:</label>
                        <input type="date" name="dogumTarih" id="dogumTarih_@kullanici.kullanici_id" value="@kullanici.dogum_tarih.ToString("yyyy-MM-dd")" /><br />



                        <label for="ePosta_@kullanici.kullanici_id">E-Posta:</label>
                        <input type="email" name="ePosta" id="ePosta_@kullanici.kullanici_id" value="@kullanici.e_posta" /><br />

                        <label for="telefon_@kullanici.kullanici_id">Telefon:</label>
                        <input type="text" name="telefon" id="telefon_@kullanici.kullanici_id" value="@kullanici.telefon" /><br />

                        <label for="picture_@kullanici.kullanici_id">Resim:</label>
                        <input type="text" name="picture" id="picture_@kullanici.kullanici_id" value="@kullanici.picture" /><br />

                        <label for="sifre_@kullanici.kullanici_id">Şifre:</label>
                        <input type="password" name="sifre" id="sifre_@kullanici.kullanici_id" value="@kullanici.sifre" /><br />

                        <label for="antrenor_id_@kullanici.kullanici_id">Antrenör ID:</label>
                        <input type="text" name="antrenor_id" id="antrenor_id_@kullanici.kullanici_id" value="@kullanici.antrenor_id" readonly /><br />






                        <select id="hedef_@kullanici.kullanici_id" name="hedef">
                            @foreach (var item in GetHedefOptions(kullanici.hedef))
                            {
                                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                            }
                        </select><br />


                        <input type="submit" value="Güncelle" />
                    </form>
                </td>
            </tr>
        }
    </table>

    @functions {
        public List<SelectListItem> GetHedefOptions(int selectedValue)
        {
            return new List<SelectListItem>
    {

            new SelectListItem { Text = "1 - Kilo Kazanma", Value = "1", Selected = (selectedValue == 1) },
            new SelectListItem { Text = "2 - Kilo Kaybetme", Value = "2", Selected = (selectedValue == 2) },
            new SelectListItem { Text = "3 - Kilo Koruma", Value = "3", Selected = (selectedValue == 3) },
            new SelectListItem { Text = "4 - Kas Kazanma", Value = "4", Selected = (selectedValue == 4) }

        };
        }

    }