@using FitnessApp1.Models
@model KullaniciProgramlariViewModel
<!-- Diğer içerikler -->
<!-- Diğer içerikler -->
<style>

    .sidebar {
        width: 170px; /* Yan menünün genişliği */
        background-color: yellowgreen; /* Yan menü arka plan rengi */
        height: 100%; /* Sayfa boyunca uzunluk */
        position: fixed; /* Sabit konum */
        top: 0; /* Üstten başlama pozisyonu */
        left: 0; /* Soldan başlama pozisyonu */
        overflow-x: hidden; /* Yatay scrollbar'ı gizle */
        padding-top: 20px;
        flex-direction: column;
        display: block;
        text-align: center;
        
        
    }

        .sidebar a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #000;
            display: block;
        }

            .sidebar a:hover {
                background-color:yellow; /* Fare üstüne gelindiğinde arka plan rengi */
            }


    h1 {
        color: rosybrown; /* Başlık rengi */
        font-family: 'Times New Roman', Times, serif, sans-serif; /* Başlık fontu */
        margin-top: 200px;
        margin-left: 40px;
    }

    .button-background {
        margin-top: 70px;
        width: 350px;
        height: 500px;
        background-image: url('https://i.pinimg.com/564x/2b/e6/31/2be631e3afc5ba303f6315ba8d4c41f3.jpg');
        background-size: cover;
        background-position: top;
        /* Yuvarlak bir arka plan oluşturmak için */
        flex-shrink: 0; /* Boyutun küçülmemesini sağla */
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: rosybrown;
    }

    h2 {
        color: yellowgreen; /* Başlık rengi */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 100px;
        margin-top: 50px;
        font-size: 30px;
    }

    input[type="submit"] {
        width: 200px; /* Genişlik */
        height: 40px; /* Yükseklik */
        background-color: wheat; /* Arka plan rengi */
        color: rosybrown; /* Yazı rengi */
        border: none; /* Kenarlık olmadan */
        border-radius: 5px; /* Kenar yuvarlama */
        cursor: pointer; /* Fare üzerine gelince işaretçi tipi */
        margin-top: 10px; /* Butonlar arası boşluk */
        font-size: 16px; /* Yazı boyutu */
    }


        /* İlgili butonun üzerine gelindiğinde stilini değiştirme */
        input[type="submit"]:hover {
            background-color: yellow; /* Hover rengi */
        }

    button {
        color: yellowgreen;
        background-color: black;

    }

    table {
       
        margin-left: 85px;
        border-collapse: separate; /* collapse yerine separate kullanın */
        width: 100%;
        background-color: white;
        border-radius: 10px;  
        
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        color: black;
    }

    th {
        background-color: yellowgreen;
    }

    tr:nth-child(even) {
        background-color: lightyellow;
    }

    body {
        background-image: url('https://i.pinimg.com/564x/cf/8b/8b/cf8b8bd73856fc7df8374a5a650c7bb5.jpg'); /* Arkaplan resminin URL'sini buraya ekleyin */
        background-size: center; /* Resmi ekran boyutuna uyacak şekilde ölçeklendir */
        background-position: right; /* Resmi ortala */
    }
</style>




<h2>Beslenme Programları</h2>
<table>
    <thead>
        <tr>
            <th>Hedef &#x1F3AF;</th>
            <th>Yemek &#127831;</th>
            <th>Kalori Hedef &#128293;</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var beslenmeProgrami in Model.BeslenmeProgramlari)
        {
            <tr>
                <td>
                    @if (beslenmeProgrami.hedef == 1)
                    {
                        <text>Kilo kazanma</text>
                    }
                    else if (beslenmeProgrami.hedef == 2)
                    {
                        <text>Kilo kaybetme</text>
                    }
                    else if (beslenmeProgrami.hedef == 3)
                    {
                        <text>Kilo koruma</text>
                    }
                    else if (beslenmeProgrami.hedef == 4)
                    {
                        <text>Kas kazanma</text>
                    }
                </td>
                <td>@beslenmeProgrami.gunluk_ogun</td>
                <td>@beslenmeProgrami.kalori_hedef</td>

            </tr>
        }
    </tbody>
</table>

<h2>Egzersiz Programları</h2>
<table>
    <div class="sidebar">
        @if (ViewBag.picture == "")
        {
            <img src="https://i.pinimg.com/474x/fd/81/76/fd81760500afdbae097cb23b1b720c76.jpg" width="150" height="150">
        }
        @if (ViewBag.picture != "")
        {
            <img src="@ViewBag.picture" width="150" height="150">
        }


       
    <div>




        <form method="post" asp-controller="KullaniciAnaPanel" asp-action="Index1">
            <input type="hidden" name="kullanici_id" value="@ViewBag.kullanici_id" />
            <button type="submit">&#128100;Profilim</button>
        </form>
        <form method="post" asp-controller="KullaniciAnaPanel" asp-action="Index2">
            <input type="hidden" name="kullanici_id" value="@ViewBag.kullanici_id" />
            <button type="submit">Güncel Bilgilerim</button>
        </form>
        <form method="post" asp-controller="KullaniciAnaPanel" asp-action="Index3">
            <input type="hidden" name="kullanici_id" value="@ViewBag.kullanici_id" />
            <input type="hidden" name="antrenor_id" value="@ViewBag.antrenor_id" />
            <button type="submit">Gelen Kutusu</button>
        </form>

    </div>
    </div>
    <thead>
        <tr>
            <th>Egzersiz Adı</th>
            <th>Hedef &#x1F3AF;</th>
            <th>Set Sayısı</th>
            <th>Video Link &#128421;</th>
            <th>Baslama Tarihi</th>
            <th>Program Süresi &#128338;</th>
            <!-- Diğer sütunlar -->
        </tr>
    </thead>
    <tbody>
        @foreach (var egzersizProgrami in Model.EgzersizProgramlari)
        {
            <tr>
                <td>@egzersizProgrami.egzersiz_ad</td>
                <td>
                    @if (egzersizProgrami.hedef == 1)
                    {
                        <text>Kilo kazanma</text>
                    }
                    else if (egzersizProgrami.hedef == 2)
                    {
                        <text>Kilo kaybetme</text>
                    }
                    else if (egzersizProgrami.hedef == 3)
                    {
                        <text>Kilo koruma</text>
                    }
                    else if (egzersizProgrami.hedef == 4)
                    {
                        <text>Kas kazanma</text>
                    }


                </td>
                <td>@egzersizProgrami.set_sayi</td>
                <td>@egzersizProgrami.video_link</td>
                <td>@egzersizProgrami.baslama_tarih</td>
                <td>@egzersizProgrami.program_sure</td>


                <!-- Diğer sütunlar için aynı şekilde devam edebilirsiniz -->
            </tr>
        }
    </tbody>
</table>
